<!DOCTYPE html>
{% load static %}
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>{% block 'title' %} {% endblock %}  </title>
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

	<!-- CSS
	================================================== -->
	<!-- Base + Vendors CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts/font-awesome/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts/entypo/css/entypo.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.css" media="screen' %}">
	<link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.css" media="screen' %}">
	<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css" media="screen' %}">

	<!-- Theme CSS-->
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">



  <!-- Head Libs -->
	<script src="{% static 'vendor/modernizr.js' %}"></script>


	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/images (1).png">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicons/favicon-120.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicons/favicon-152.png' %}">

</head>
<body>

	<div class="site-wrapper">

		<!-- Header -->
		<header class="header header-menu-fullw">

			<!-- Header Top Bar -->
			<div class="header-top">
				<div class="container">
					<div class="header-top-left">
						<button class="btn btn-sm btn-default menu-link menu-link__secondary">
							<i class="fa fa-bars"></i>
						</button>
						<div class="menu-container">
							<ul class="header-top-nav header-top-nav__secondary">
								<li><a href="#"><i class="fa fa-twitter"></i> <span class="nav-label">Twitter</span></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i> <span class="nav-label">Facebook</span></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i> <span class="nav-label">Google+</span></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i> <span class="nav-label">Pinterest</span></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i> <span class="nav-label">Instagram</span></a></li>
								<li><a href="#"><i class="fa fa-rss"></i> <span class="nav-label">RSS Feed</span></a></li>
							</ul>
						</div>
					</div>
					<div class="header-top-right">
						<button class="btn btn-sm btn-default menu-link menu-link__tertiary">
							<i class="fa fa-user"></i>
						</button>
						<div class="menu-container">

                                     {% if request.user.is_authenticated %}
							<li><a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
										{% else %}

									<li><a href="{% url 'signup' %}"><i class="fa fa-user-plus"></i> Register</a></li>
									<li><a href="{% url 'signin'%}"><i class="fa fa-sign-in"></i> Login</a></li>
                                      {% endif %}
						</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Header Top Bar / End -->
			<div class="header-main">
				<div class="container">
					<!-- Logo -->
					<div class="logo">
						<a href="#"><img src="{% static 'images/images.png' %}" alt="music"></a>
						<!-- <h1><a href="index.html"><span>Handy</span>Man</a></h1> -->
					</div>
					<!-- Logo / End -->

					<button type="button" class="navbar-toggle">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Navigation -->
					<nav class="nav-main">
						<div class="nav-main-inner">
							<ul data-breakpoint="992" class="flexnav">
								<li><a href="{% url 'home' %}">Home</a></li>

								<li><a href="{% url 'about' %}">About Us</a></li>

								<li><a href="{% url 'genre' %}">Genre</a>
								</li>
								<li class="active"><a href="{% url 'instrument' %}">Instrument</a>
								</li>
								<li ><a href ="{% url 'payment' %}">Payment</a></li>
							</ul>
						</div>
					</nav>
					<!-- Navigation / End -->

				</div>
			</div>

		</header>
		<!-- Header / End -->


				{% block 'body' %} {% endblock %}



			<!-- Footer -->
			<footer class="footer" id="footer">
				<div class="footer-widgets">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<!-- Widget :: Contacts Info -->
								<div class="contacts-widget widget widget__footer">
									<h3 class="widget-title">Contact Us</h3>
									<div class="widget-content">
										<ul class="contacts-info-list">
											<li>
												<i class="fa fa-map-marker"></i>
												<div class="info-item">
													Music class., Old Town Avenue, New York, USA 23000
												</div>
											</li>
											<li>
												<i class="fa fa-phone"></i>
												<div class="info-item">
													+1700 124-5678<br>
													+1700 124-5678
												</div>
											</li>
											<li>
												<i class="fa fa-envelope"></i>
												<span class="info-item">
													<a href="mailto:info@music class.com">support@music class.com</a>
												</span>
											</li>
											<li>
												<i class="fa fa-clock-o"></i>
												<div class="info-item">
													Monday - Friday 9:00 - 21:00
												</div>
											</li>
										</ul>
									</div>
								</div>
								<!-- /Widget :: Contacts Info -->
							</div>

								<!-- /Widget :: Latest Posts -->




							<div class="col-sm-4 col-md-4">
								<!-- Widget :: Newsletter -->
								<div class="widget_newsletter widget widget__footer">
									<h3 class="widget-title">Get Our Newsletter</h3>
									<div class="widget-content">
										<p>Get more details of music classes and fast learner</p>

										<form action="php/newsletter-form.php" method="POST" id="newsletter-form">

											<div class="alert alert-success hidden" id="newsletter-alert-success">
												<strong>Success!</strong> Thank you for subscribing.
											</div>
											<div class="alert alert-danger hidden" id="newsletter-alert-error">
												<strong>Error!</strong> Something went wrong.
											</div>

											<div class="form-group">
												<input type="email"
													value=""
													data-msg-required="Please enter email address."
													data-msg-email="Please enter a valid email address."
													class="form-control"
													placeholder="Enter your email here..."
													name="subscribe-email"
													id="subscribe-email">
											</div>
											<button type="submit" class="btn btn-primary btn-block" data-loading-text="Loading...">Subscribe</button>
										</form>
									</div>
								</div>
								<!-- /Widget :: Newsletter -->
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								Copyright &copy; 2015  <a href="index.html">Music Class</a> &nbsp;| &nbsp;All Rights Reserved
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer / End -->

		</div>
		<!-- Main / End -->
	</div>





	<!-- Javascript Files
	================================================== -->
	<script src="{% static 'vendor/jquery-migrate-1.2.1.min.js' %}"></script>
	<script src="{% static 'vendor/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap.js' %}"></script>
	<script src="{% static 'vendor/jquery.flexnav.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.hoverIntent.minified.js' %}"></script>
	<script src="{% static 'vendor/jquery.flickrfeed.js' %}"></script>
	<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
	<script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.fitvids.js' %}"></script>
	<script src="{% static 'vendor/jquery.appear.js' %}"></script>
	<script src="{% static 'vendor/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'vendor/jquery.countTo.js' %}"></script>

	<!-- Newsletter Form -->
	<script src="{% static 'vendor/jquery.validate.js' %}"></script>
	<script src="{% static 'js/newsletter.js' %}"></script>

	<script src="{% static 'js/custom.js' %}"></script>



</body>
</html>