{% extends 'base/base.html' %}
{% block 'title'%} About {% endblock %}
{% load static %}
{% block 'body' %}
<div class="container">
	<h1>Coaches</h1>

</div>
    <div class="page-content">
				<div class="container">

					<div class="row">
						<div class="content col-md-12">

							<!-- Post (Standard Format) -->
								<header class="entry-header">
									<div class="entry-author visible-md visible-lg">
										<img src="{% static 'images/download (1).jpg' %}" alt="">
										<span class="author-name">Zyan Malik</span>
									</div>
									<div class="entry-meta">
										<span class="entry-date"><i class="fa fa-calendar"></i> feb-2-2020</span>
										<span class="entry-genre"><i class="fa fa-folder"></i> <a href="#">Guitar</a></span>
										<span class="entry-comments"><i class="fa fa-comments"></i> 0 Comments</span>
									</div>
								</header>
								<div class="entry-thumb-wrapper">
									<figure>
										<a href="#"><img src="{% static 'images/guitar.png' %}" alt=""></a>
									</figure>
								</div>
							       <div class="container">
									   <span class="time-detail"></span>
								   </div>
								<div class="excerpt">
									He is one of the finest coach.He has number of fan following.He has done his master degree on music course and he teache the lesson of guitar.He has won awards for the best singer of the year.He gives guitar lesson in number of brances all over the world.He has cool nature with best learning techniques.He take classes for 6month.He is not only famous for guitar but also for his singing.
								</div>
							<br/>
							<br/>
								<header class="entry-header">
									<div class="entry-author visible-md visible-lg">
										<img src="{% static 'images/taylor.jpg' %}" alt="">
										<span class="author-name">Taylor Hill</span>
									</div>

									<div class="entry-meta">

										<span class="entry-date"><i class="fa fa-calendar"></i> May 23, 2019</span>
										<span class="entry-genre"><i class="fa fa-folder"></i>  <a href="#">Drumer</a></span>
										<span class="entry-comments"><i class="fa fa-comments"></i>0 Comments</span>
									</div>
								</header>


									<div class="entry-thumb-wrapper">
									<figure>
										<a href="#"><img src="{% static 'images/Drum1.jpg' %}" alt=""></a>
									</figure>


									<!-- Project Slider / End -->
								</div>
								<div class="excerpt">
									She is one of the finest coach.she has number of fan following.She has done her master degree on modeling and also she is popular for drumer.She has passion for both modeling and drumer.She gives drum lesson.
								</div>
							<!-- Post (Gallery Format) / End -->

							<!-- Post (Video Format) -->
							<br/>
							<br/>
								<header class="entry-header">
									<div class="entry-author visible-md visible-lg">
										<img src="{% static 'images/selena.jpg' %}" alt="">
										<span class="author-name">Selena Gomez</span>
									</div>

									<div class="entry-meta">
										<span class="entry-date"><i class="fa fa-calendar"></i> April 12, 2015</span>
										<span class="entry-genre"><i class="fa fa-folder"></i> <a href="#">Piano</a></span>
										<span class="entry-comments"><i class="fa fa-comments"></i> 0 Comments</span>
									</div>
								</header>
								<div class="entry-thumb-wrapper">
									<figure>
										<a href="#"><img src="{% static 'images/piano1.jpg' %}" alt=""></a>
									</figure>

								</div>
								<div class="excerpt">
									She is one of the popular singer and also famous for pianist.She has won awards for her piano skills and singing.She is famous all over the world.She has acheive so many things in a young age.She takes classes only for 3 months because of her busy schedule.
								</div>

							<!-- Post (Video Format) / End -->

							<!-- Post (Quote Format) -->
                                <br/>
							     <br/>
								<header class="entry-header">
									<div class="entry-author visible-md visible-lg">
										<img src="{% static 'images/Gigi.jpg' %}" alt="">
										<span class="author-name">Gigi Hadid</span>
									</div>

									<div class="entry-meta">
										<span class="entry-date"><i class="fa fa-calendar"></i> june 23, 2019</span>
										<span class="entry-genre"><i class="fa fa-folder"></i> <a href="#">Flute</a>
										<span class="entry-comments"><i class="fa fa-comments"></i> 0 Comments</span>
									</div>
								</header>


									<div class="entry-thumb-wrapper">
									<figure>
										<a href="#"><img src="{% static 'images/flute.jpg' %}" alt=""></a>
									</figure>


									<!-- Project Slider / End -->
								</div>
								<div class="excerpt">
									She is very popular artist.She has number of fan following.She is famous artist and popular for her singing and flute..She has passion for both modeling and drumer.She gives drum lesson.
								</div>

						</div></div></div></div></div>


             </div>
                        {% endblock %}