{% extends 'base/base.html' %}
{% block 'title' %} Dashboard {% endblock %}
{% block 'body' %}
<div class="container">
    {% include 'components/sidenav.html' %}
    <div class="col-md-9">
    {% include 'components/message.html' %}
        {% for b in manager %}
        <h3>
            {{b.title}}
        </h3>
        <p>{{b.description |truncatewords:100}}</p>
        <a href="{% url 'edit_post' b.id %}" class="btn btn-success">Edit</a>
        <a href="{% url 'delete_post' b.id %}" class="btn btn-danger">Delete</a>
        <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}