{% extends 'base/base.html' %}

{% block 'title'%} Genre {% endblock %}
{% load static %}
{% block 'body' %}
<div class="container">
	<li><a href="#">Genre</a></li>
<ul>
										<li><a href="features-shortcodes.html">Folk music</a></li>
                                        <div class="excerpt">
											<img src="{% static 'images/folk.jpg' %}"style="padding-top":20px;
												<br/>
												 <p>
                                            Folk music includes traditional folk music and the genre that evolved from it during the 20th-century folk revival. Some types of folk music may be called world music.
												 </p>
										</div>
										<li><a href="features-pricing-tables.html">Rock music</a></li>
	                                    <div class ="excerpt">
											<img src="{% static 'images/rock.jpg' %}"style="padding-top":20px;
												 <br/>
											<p>Rock music is a broad genre of popular music that originated as "rock and roll" in the United States in the early 1950s, and developed into a range of different styles in the 1960s and later, particularly in the United States and the United Kingdom.
											</p>
										</div>
										<li><a href="features-typography.html">Heavy metals</a></li>
	                                     <div class="excerpt">
											 <img src="{% static 'images/heavy.jpg' %}"style="padding-top":20px;
												  <br/>
											<p>Heavy metal is a genre of rock music that developed in the late 1960s and early 1970s, largely in the United Kingdom and the United States.
											</p></div>
										<li><a href="features-columns.html">Funk</a></li>
	                                     <div class="excerpt">
											 <img src="{% static 'images/funk.jpg' %}"style="padding-top":20px;
										 <br/>
											<p>Funk is a music genre that originated in African-American communities in the mid-1960s when African-American musicians created a rhythmic, danceable new form of music through a mixture of soul music, psychedelic rock, jazz, and rhythm and blues.
											</p>
										 </div>

									</ul>
</li>
</div>
{% endblock %}