{% extends 'base/base.html' %}
{% block 'title' %}Instrument {% endblock %}
{% load static %}
{% block 'body' %}
<div class="container">
    <h1>Instrument</h1>
    <ul>
        <li><a href="blog-right-sidebar.html">Guitar</a></li>
        <div class="row">
            <img src="{% static 'images/guitar.jpg' %}"style="style="padding-top":20px;"
        </div>
        <li><a href="blog-left-sidebar.html">Drum</a></li>
        <div class="row">
            <img src="{% static 'images/drumer.jpg' %}"style="style="padding-top":20px;"
        </div>
        <li><a href="blog-fullwidth.html">Keyboard</a></li>
        <div class="row">
            <img src="{% static 'images/pianoist.jpg' %}"style="style="padding-top":20px;"
        </div>
        <li><a href="blog-post.html">Flute</a></li>
        <div class="row">
            <img src="{% static 'images/flutes.jpg' %}"style="style="padding-top":20px;"
        </div>
    </ul>
</div>
{% endblock %}