{% extends 'base/base.html' %}
{% block 'title' %} Dashboard {% endblock %}
{% block 'body' %}
<div class="container">
    {% include 'components/sidenav.html' %}
    <div class="col-md-9">
        <h3>Payment Details:</h3>
    {% include 'components/message.html' %}
        {% for p in payment %}
            {{p.name}} ||| {{p.pay_info}}

        <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}