{% extends 'base/base.html' %}
{% block 'title' %}Payment{% endblock %}
{% block 'body' %}

<div class="container">
    <div class="row">
        {% include 'components/message.html' %}
            <form method="post" enctype="multipart/form-data">
                {{form.as_p}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
</div>

{% endblock %}
