{% extends 'base/base.html' %}
{% block 'title' %} Signup {% endblock %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
             {% include 'components/message.html' %}
            <form method="post">
                <div class="input group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="input group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control">
                </div>
                <div class="input group">
                    <label>Password</label>
                    <input type="password" name="pass1" class="form-control">
                </div>
                <div class="input group">
                    <label> Confirm Password</label>
                    <input type="password" name="pass2" class="form-control">
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
