{% extends 'base/base.html' %}

{% block 'title'%} Info {% endblock %}
{% block 'body' %}
<div class="container">
    <div class=""row>
        <h3>{{info.title}}</h3>
        <div class="col-md-6">
            <img src="MEDIA_URL{{info.media.urls}}" style="width=200px;height=auto;"
        </div
        <p>
        {{% info.description %}
        </p>
    </div>
</div>
{%  endblock %}