{% if messages %}
<ul>
  {% for m in messages %}
    {% if m.tags == "error" %}
      <li class="alert alert-danger">{{m}}</li>
    {% else %}
       <li class="alert alert-success">{{m}}</li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}