<div class="col-md-3">
    <ul class="list-group">
        <li class="list-group-item"><a href ="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="list-group-item"><a href ="{% url 'payment' %}">Payment</a></li>
        <li class="list-group-item"><a href="{% url 'create_post' %}">Create Post</a></li>
        <li class="list-group-item"><a href="{% url 'payment_detail' %}">Payment Detail</a></li>

    </ul>
    </div>